#                                                         -*- coding: utf-8 -*-
# File:    ./src/{{ cookiecutter.package_name }}/__main__.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""Enable invoking {{ cookiecutter.project_name }} by python -m {{ cookiecutter.package_name }}."""

from {{ cookiecutter.package_name }}.{% raw %}{{ entry_point_source }}{% endraw %} import start

start(__name__)
