#                                                         -*- coding: utf-8 -*-
# File:    ./src/{{ cookiecutter.package_name }}/__main__.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""Enable invoking {{ cookiecutter.project_name }} by python -m {{ cookiecutter.package_name }}."""

import sys

from .{% raw %}{{ entry_point_source }}{% endraw %} import {% raw %}{{ entry_point_function }}{% endraw %}


if __name__ == "__main__":
    sys.exit({% raw %}{{ entry_point_function }}{% endraw %}(sys.argv))
