#                                                         -*- coding: utf-8 -*-
# File:    ./src/{{ cookiecutter.package_name }}/{% raw %}{{ entry_point_source }}{% endraw %}.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""{% raw %}{{ entry_point_source_description }}{% endraw %}"""

import sys
from typing import List, Callable


def {% raw %}{{ entry_point_function }}{% endraw %}(argv: List[str] = sys.argv) -> int:
    """Run {% raw %}{{ entry_point_name }}{% endraw %}."""
    _ = argv
    # Your code goes here
    return 0


def start(
    name: str,
    exit_func: Callable[[int], None] = sys.exit,
    main_func: Callable[[List[str]], int] = {% raw %}{{ entry_point_function }}{% endraw %},
    args: List[str] = sys.argv,
) -> None:
    """Start the application."""
    if name == "__main__":
        exit_func(main_func(args))


start(__name__)
