#                                                         -*- coding: utf-8 -*-
# File:    ./src/{{ cookiecutter.package_name }}/version.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""Holds {{ cookiecutter.package_name }} version."""

VERSION = "0.0.0"
