#                                                         -*- coding: utf-8 -*-
# File:    ./src/{{ cookiecutter.namespace }}/{{ cookiecutter.package_name }}/{% raw %}{{ entry_point_source }}{% endraw %}.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""{% raw %}{{ entry_point_source_description }}{% endraw %}"""
