#
# File:    ./src/{{ cookiecutter.namespace }}/{{ cookiecutter.package_name }}/version.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""
Holds :mod:`{{ cookiecutter.namespace }}.{{ cookiecutter.package_name }}` version.

:const __version__: The package version
"""

__version__: str = "0.0.0"
