#
# File:    ./MANIFEST.in
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_name }}: {{ cookiecutter.project_description }}
# Brief:   What extra should or should not be packaged
#
# SPDX-License-Identifier: MIT
#

include LICENSE
include *.md
include pyproject.toml
include setup.cfg
include tox.ini
graft tests

global-exclude .*
global-exclude *-coverage.txt
global-exclude __pycache__
