#!/usr/bin/python3
#                                                         -*- coding: utf-8 -*-
# File:    ./setup.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""Setup for {{ cookiecutter.project_name }}"""

from setuptools import setup

setup()
