---

name: Test {{ cookiecutter.project_name }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
{% raw -%}
{% for item in interpreters %}
          - {{ item }}
{% endfor %}
{%- endraw %}

    steps:
      - name: Checkout the project
        uses: actions/checkout@v2

      - name: Setup Python ${% raw %}{{ '{{ matrix.python-version }}' }}{% endraw %}
        uses: actions/setup-python@v2
        with:
          python-version: ${% raw %}{{ '{{ matrix.python-version }}' }}{% endraw %}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install tox

      - name: Run tox
        env:
          GITHUB_TOKEN: ${% raw %}{{ '{{ secrets.GITHUB_TOKEN }}' }}{% endraw %}
          COVERALLS_SERVICE_NAME: github
          COVERALLS_FLAG_NAME: ${% raw %}{{ '{{ matrix.python-version }}' }}{% endraw %}
          COVERALLS_PARALLEL: true
        run: |
          PYVER=${COVERALLS_FLAG_NAME}
          BASEDIR=.tox/py${PYVER//.}/lib/python${PYVER}/site-packages/
          export COVERALLS_CMD="coveralls --basedir=${BASEDIR} --srcdir=src"
          tox -e py${COVERALLS_FLAG_NAME//.},linters

  finish:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python {% raw %}{{ least_python3 }}{% endraw %}
        uses: actions/setup-python@v2
        with:
          python-version: {% raw %}{{ least_python3 }}{% endraw %}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install coveralls

      - name: Notify coveralls.io
        env:
          GITHUB_TOKEN: ${% raw %}{{ '{{ secrets.GITHUB_TOKEN }}' }}{% endraw %}
          COVERALLS_SERVICE_NAME: github
        run: |
          coveralls --finish
