#                                                         -*- coding: utf-8 -*-
# File:    ./tests/unit/__init__.py
# Author:  {{ cookiecutter.team_name }} <{{ cookiecutter.team_email|replace('@', ' AT ') }}>
# Date:    {% raw %}{{ stamp() }}{% endraw %}
# Project: {{ cookiecutter.project_description }}
#
# SPDX-License-Identifier: MIT
#
"""Unit tests for {{ cookiecutter.package_name }}"""
